In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/riasec/cleaned-data.csv')
df.head()

,R1,R2,R3,R4,R5,R6,R7,R8,I1,I2,...,E7,E8,C1,C2,C3,C4,C5,C6,C7,C8
0,3,4,3,1,1,4,1,3,5,5,...,1,3,1,3,1,1,1,3,1,1
1,1,1,2,4,1,2,2,1,5,5,...,1,3,1,1,2,1,1,2,1,1
2,2,1,1,1,1,1,1,1,4,1,...,4,3,1,3,2,2,1,2,4,1
3,3,1,1,2,2,2,2,2,4,1,...,2,3,3,2,3,3,2,2,2,2
4,4,1,1,2,1,1,1,2,5,5,...,2,2,4,2,2,4,5,5,2,2

In [3]:
df = df - 1
df.head()

,R1,R2,R3,R4,R5,R6,R7,R8,I1,I2,...,E7,E8,C1,C2,C3,C4,C5,C6,C7,C8
0,2,3,2,0,0,3,0,2,4,4,...,0,2,0,2,0,0,0,2,0,0
1,0,0,1,3,0,1,1,0,4,4,...,0,2,0,0,1,0,0,1,0,0
2,1,0,0,0,0,0,0,0,3,0,...,3,2,0,2,1,1,0,1,3,0
3,2,0,0,1,1,1,1,1,3,0,...,1,2,2,1,2,2,1,1,1,1
4,3,0,0,1,0,0,0,1,4,4,...,1,1,3,1,1,3,4,4,1,1

In [4]:
categories = {
    'R': [f'R{i}' for i in range(1, 9)],
    'I': [f'I{i}' for i in range(1, 9)],
    'A': [f'A{i}' for i in range(1, 9)],
    'S': [f'S{i}' for i in range(1, 9)],
    'E': [f'E{i}' for i in range(1, 9)],
    'C': [f'C{i}' for i in range(1, 9)],
}

In [5]:
for category, columns in categories.items():
    df[f'{category}_Score'] = df[columns].sum(axis=1)

df.head()

,R1,R2,R3,R4,R5,R6,R7,R8,I1,I2,...,C5,C6,C7,C8,R_Score,I_Score,A_Score,S_Score,E_Score,C_Score
0,2,3,2,0,0,3,0,2,4,4,...,0,2,0,0,12,25,19,29,8,4
1,0,0,1,3,0,1,1,0,4,4,...,0,1,0,0,6,27,11,14,2,2
2,1,0,0,0,0,0,0,0,3,0,...,0,1,3,0,1,3,3,22,16,8
3,2,0,0,1,1,1,1,1,3,0,...,1,1,1,1,7,13,19,12,17,11
4,3,0,0,1,0,0,0,1,4,4,...,4,4,1,1,5,28,26,29,12,18

In [6]:
total_scores = df[[f'{category}_Score' for category in categories]].sum(axis=1)
for category in categories:
    score_col = f'{category}_Score'
    prob_col = f'{category}_Prob'
    df[prob_col] = np.where(total_scores == 0, 0, df[score_col] / total_scores)


df.head()

,R1,R2,R3,R4,R5,R6,R7,R8,I1,I2,...,A_Score,S_Score,E_Score,C_Score,R_Prob,I_Prob,A_Prob,S_Prob,E_Prob,C_Prob
0,2,3,2,0,0,3,0,2,4,4,...,19,29,8,4,0.123711,0.257732,0.195876,0.298969,0.082474,0.041237
1,0,0,1,3,0,1,1,0,4,4,...,11,14,2,2,0.096774,0.435484,0.177419,0.225806,0.032258,0.032258
2,1,0,0,0,0,0,0,0,3,0,...,3,22,16,8,0.018868,0.056604,0.056604,0.415094,0.301887,0.150943
3,2,0,0,1,1,1,1,1,3,0,...,19,12,17,11,0.088608,0.164557,0.240506,0.151899,0.215190,0.139241
4,3,0,0,1,0,0,0,1,4,4,...,26,29,12,18,0.042373,0.237288,0.220339,0.245763,0.101695,0.152542

In [7]:
df.to_csv('data/riasec/labeled-data.csv', index=False)
print("Saved as 'labeled-data.csv'")

Saved as 'labeled-data.csv'